
body {
  filter: brightness(30%);
  background-color: #263238;
  color: #aaa;
}
  
.capsule,
.setlist,
.about-content,
#messageList li {
  background-color: #111213;
}

#searchList,
#dialog,
#sideBarButton,
#sideBarContent {
  background-color: #bec6c9ce;
  
}

a,
.title-icon,
#sideBarButton,
.poetry,
#messageList li {
  color: rgb(228, 218, 218);
}

.commons,
.search-group,
.search-btn,
.search-option {
  background-color: #e0e5e7;
  color: #333;
}

a:hover,
#copyright a:hover {
  color: #e3e9e9;
}

.search-option li:hover,
#searchList li:hover,
.selectSug {
  background-color: #F5F5F5;
  color: #F5F5F5;
}

#searchList li:hover a,
.selectSug a {
  color: #F5F5F5;
}

.capsule:hover,
.setlist:hover {
  box-shadow: 1px 1px 5px 1px #FFC549;
}

#messageList li {
  box-shadow: 0 2px 12px 0 #FFC549;
}

